@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

.header {
  height: 450px;
  max-width: 100%;
  background-image: url("/images/thai.jpg");
  background-position: 0 0px;
  opacity: 0.9;
}

  .nav-bar {
    @include outer-container(1040px);
    height: 70px;
    background-color: #fff;
  }

    .logo {
      height: 30px;
      display: inline-block;
      margin-bottom: 0.5em;
      margin-left: 1em;
    }

    .primary-nav {
      width: 400px;
      line-height: 70px;
      display: inline-block;
    }

      .primary-nav a {
        text-decoration: none;
        padding-left: 3em;
      }


.content {
  @include outer-container(1040px);
}

.about {
  @include span-columns(8);
  height: 70px;
  background-color: #fff;
  margin-top: 50px;
  border: 1px solid grey;
}

.menu-container {
  @include span-columns(8);
  height: auto;
  background-color: #fff;
  margin-top: 50px;
  border: 1px solid grey;
}

.order-container {
  @include span-columns(4);
  @include omega;
  height: 300px;
  background-color: #fff;
  margin-top: 50px;
  border: 1px solid grey;
}
